# Ignore all TIFF files in any directory
*.tif

# Ignore entire EuroSAT_MS directory
/data/EuroSAT_MS/

# Byte-compiled
__pycache__/
.cache/

# Ignore everything in nonimage_data
/data/nonimage_data/*
/data/csv_data/best_model.pth

# ...except for specific files and subfolders
!/data/nonimage_data/nonimage_data.csv

# Optional: ignore other large/temp files
*.zip
*.tar.gz
*.ipynb_checkpoints/
.DS_Store